In [6]:
# 測試程式 - 放在專案根目錄執行
from finlab_data import finlab_data
import finlab
from finlab import data

# 檢查國際指數資料
print("檢查國際指數資料...")
world_close = finlab_data.world_index_close
world_vol = finlab_data.world_index_vol
print(f"\n可用的指數代碼: {world_vol.columns.tolist()}")
print(f"\n資料日期範圍: {world_vol.index.min()} ~ {world_vol.index.max()}")
print(f"最新資料日期: {world_vol.index.max()}")

# 檢查台灣指數
if '^TWII' in world_vol.columns:
    tw_data = world_vol['^TWII'].dropna()
    print(f"\n台灣指數最新10筆:")
    print(tw_data.tail(10))

檢查國際指數資料...

可用的指數代碼: ['000001.SS', '399001.SZ', 'IMOEX.ME', '^AORD', '^AXJO', '^BFX', '^BSESN', '^BUK100P', '^BVSP', '^CASE30', '^DJI', '^FCHI', '^FTSE', '^GDAXI', '^GSPC', '^GSPTSE', '^HSI', '^IPSA', '^IXIC', '^JKSE', '^JN0U.JO', '^KLSE', '^KS11', '^MERV', '^MXX', '^N100', '^N225', '^NYA', '^NZ50', '^RUT', '^STI', '^STOXX50E', '^TA125.TA', '^TWII', '^VIX', '^XAX']

資料日期範圍: 1970-01-02 00:00:00 ~ 2024-09-06 00:00:00
最新資料日期: 2024-09-06 00:00:00

台灣指數最新10筆:
date
2024-08-26    4880500.0
2024-08-27    3660500.0
2024-08-28          0.0
2024-08-29          0.0
2024-08-30    4245800.0
2024-09-02          0.0
2024-09-03          0.0
2024-09-04          0.0
2024-09-05          0.0
2024-09-06          0.0
Name: ^TWII, dtype: float64

In [7]:
close= 	data.get('price:收盤價')
close

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,9.54,57.85,32.83,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.00,30.35,9.78,73.60,13.25,51.3,72.40,NaN,46.00,49.60
2007-04-24,9.54,58.10,32.99,38.65,NaN,NaN,NaN,NaN,NaN,NaN,...,32.00,30.50,9.91,75.00,13.25,50.5,71.60,NaN,45.90,50.40
2007-04-25,9.52,57.60,32.80,38.59,NaN,NaN,NaN,NaN,NaN,NaN,...,32.30,29.50,10.10,74.60,13.30,49.9,71.60,NaN,49.10,49.10
2007-04-26,9.59,57.70,32.80,38.60,NaN,NaN,NaN,NaN,NaN,NaN,...,31.60,29.15,10.80,74.50,13.25,49.5,71.00,NaN,48.90,48.00
2007-04-27,9.55,57.50,32.72,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.40,28.50,11.55,75.70,13.15,48.8,69.50,NaN,48.60,46.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-19,NaN,60.05,88.45,NaN,131.60,NaN,30.22,34.74,175.55,NaN,...,16.80,29.00,16.35,21.00,10.50,56.2,27.90,130.5,20.85,10.05
2025-11-20,NaN,61.90,91.10,NaN,136.55,NaN,30.63,35.50,181.00,NaN,...,16.65,29.30,16.40,21.00,10.55,56.6,28.80,135.0,20.80,10.10
2025-11-21,NaN,59.85,85.35,NaN,127.70,NaN,29.15,35.00,174.15,NaN,...,16.80,29.35,16.30,20.90,10.45,56.4,28.25,135.0,20.80,10.15
2025-11-24,NaN,59.55,85.75,NaN,127.85,NaN,29.68,35.15,174.95,NaN,...,16.85,30.10,16.55,22.95,10.45,56.7,28.85,138.5,20.80,10.10
2025-11-25,NaN,60.35,87.30,NaN,129.80,NaN,29.52,35.15,177.10,NaN,...,16.85,29.60,16.95,24.10,10.50,56.3,29.35,139.0,20.80,10.05