In [10]:
# 測試程式 - 放在專案根目錄執行
from finlab_data import finlab_data
import finlab
from finlab import data
import os
import shioaji as sj
import dotenv
dotenv.load_dotenv()
import pandas as pd
# 改成這樣:
api_key = os.getenv("API_KEY")
secret_key = os.getenv("SECRET_KEY")
api = sj.Shioaji(simulation=True)
accounts = api.login(api_key, secret_key)

# 檢查國際指數資料
print("檢查國際指數資料...")
world_close = finlab_data.world_index_close
world_vol = finlab_data.world_index_vol
print(f"\n可用的指數代碼: {world_vol.columns.tolist()}")
print(f"\n資料日期範圍: {world_vol.index.min()} ~ {world_vol.index.max()}")
print(f"最新資料日期: {world_vol.index.max()}")

# 檢查台灣指數
if '^TWII' in world_vol.columns:
    tw_data = world_vol['^TWII'].dropna()
    print(f"\n台灣指數最新10筆:")
    print(tw_data.tail(10))

Response Code: 0 | Event Code: 0 | Info: host '210.59.255.161:80', hostname '210.59.255.161:80' IP 210.59.255.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up
檢查國際指數資料...

可用的指數代碼: ['000001.SS', '399001.SZ', 'IMOEX.ME', '^AORD', '^AXJO', '^BFX', '^BSESN', '^BUK100P', '^BVSP', '^CASE30', '^DJI', '^FCHI', '^FTSE', '^GDAXI', '^GSPC', '^GSPTSE', '^HSI', '^IPSA', '^IXIC', '^JKSE', '^JN0U.JO', '^KLSE', '^KS11', '^MERV', '^MXX', '^N100', '^N225', '^NYA', '^NZ50', '^RUT', '^STI', '^STOXX50E', '^TA125.TA', '^TWII', '^VIX', '^XAX']

資料日期範圍: 1970-01-02 00:00:00 ~ 2024-09-06 00:00:00
最新資料日期: 2024-09-06 00:00:00

台灣指數最新10筆:
date
2024-08-26    4880500.0
2024-08-27    3660500.0
2024-08-28          0.0
2024-08-29          0.0
2024-08-30    4245800.0
2024-09-02          0.0
2024-09-03          0.0
2024-09-04          0.0
2024-09-05          0.0
2024-09-06          0.0
Name: ^TWII, dtype: float64

Response Code: 200 | Event Code: 16 | Info: APISUB/V1/SYS/CONTRACT | Event: Subscribe or Unsubscribe ok

In [2]:

非處置股 = data.get('etl:disposal_stock_filter')
非注意股 = data.get('etl:noticed_stock_filter')
當前處置股=非處置股.iloc[-1][非處置股.iloc[-1]==False].index.tolist()
當前注意股=非注意股.iloc[-1][非注意股.iloc[-1]==False].index.tolist()

def get_stockid_companyname(stock_list):
    """
    根據給定的股票代碼列表，返回一個字典，字典的鍵是股票代碼，值是對應的公司簡稱。
    
    參數:
    stock_list (list): 股票代碼的列表。
    
    返回:
    dict: 股票代碼與公司簡稱的對應字典。
    """
    # 篩選出列表中的股票並轉成字典
    company_info = data.get('company_basic_info')

    # 篩選並同時保留 stock_id
    result = company_info.loc[company_info['stock_id'].isin(stock_list), ['stock_id', '公司簡稱']]

    # 將 stock_id 設為索引
    result_indexed = result.set_index('stock_id')['公司簡稱']

    # 按照 stock_list 的順序重新排列
    result_ordered = result_indexed.reindex(stock_list)

    # 轉成字典 (保持順序)
    stock_name_dict = result_ordered.to_dict()
    # print(stock_name_dict)
    return stock_name_dict

print(get_stockid_companyname(當前處置股))
print(get_stockid_companyname(當前注意股))
print(f'處置股數量: {len(當前處置股)}')
print(f'注意股數量: {len(當前注意股)}')

非處置股

{'3081': '聯亞', '4577': '達航科技', '5355': '佳總', '6155': '鈞寶', '6442': '光聖', '6465': '威潤', '6584': '南俊國際', '8043': '蜜望實', '8277': '商丞', '8358': '金居', '911608': '明輝-DR'}
{'2316': '楠梓電', '2408': '南亞科', '2460': '建通', '2485': '兆赫', '3081': '聯亞', '3163': '波若威', '3234': '光環', '3236': '千如', '3323': '加百裕', '3535': '晶彩科', '3624': '光頡', '4903': '聯光通', '4931': '新盛力', '4939': '亞電', '4971': 'IET-KY', '4979': '華星光', '6624': '萬年清', '7402': '邑錡', '7751': '竑騰', '8033': '雷虎', '8039': '台虹', '8047': '星雲', '9103': '美德醫療-DR', '911868': '同方友友-DR'}
處置股數量: 11
注意股數量: 24

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2001-01-02,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2001-01-03,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2001-01-04,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2001-01-05,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2001-01-06,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-27,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2025-11-28,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2025-11-29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2025-11-30,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2025-12-01,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [3]:
money = data.get('market_transaction_info:成交金額')
print(money)

Daily usage: 14.5 / 5000 MB - market_transaction_info:成交金額
symbol               OTC         TAIEX
date
2000-01-04  1.987525e+10  2.286183e+11
2000-01-05  2.038118e+10  2.527579e+11
2000-01-06  2.275568e+10  2.681463e+11
2000-01-07  2.254255e+10  2.226994e+11
2000-01-10  2.194920e+10  2.444437e+11
...                  ...           ...
2025-11-26  1.242917e+11  5.235316e+11
2025-11-27  1.309936e+11  5.065172e+11
2025-11-28  1.353779e+11  4.898860e+11
2025-12-01  1.224104e+11  4.934406e+11
2025-12-02  1.106701e+11  4.865388e+11

[6408 rows x 2 columns]

In [13]:
from data.shioaji_data import get_cached_or_fetch
tse_data, otc_data = get_cached_or_fetch(api)
# print(tse_data)

contracts = [api.Contracts.Indexs.TSE.TSE001, api.Contracts.Indexs.OTC.OTC101]
kbars = api.kbars(contract=api.Contracts.Indexs.TSE.TSE001, start='2025-12-03', end='2025-12-03')
df = pd.DataFrame(kbars.model_dump())
df

⏰ 非交易時間 (14:31:46),暫停即時更新 (交易時間: 08:45-14:00)

,ts,Open,High,Low,Close,Volume,Amount
0,1764752460000000000,27605.63,27801.58,27605.63,27798.02,169068,1.915302e+10
1,1764752520000000000,27762.73,27827.11,27760.88,27827.11,89417,7.683763e+09
2,1764752580000000000,27824.89,27847.67,27773.98,27847.67,117627,7.295451e+09
3,1764752640000000000,27810.19,27838.68,27786.82,27786.82,93692,6.031242e+09
4,1764752700000000000,27784.87,27824.37,27784.14,27788.27,89913,5.216999e+09
...,...,...,...,...,...,...,...
265,1764768360000000000,27754.28,27754.28,27754.20,27754.20,4369,2.043055e+08
266,1764768420000000000,27754.20,27754.20,27754.20,27754.20,0,0.000000e+00
267,1764768480000000000,27754.20,27754.20,27754.20,27754.20,0,0.000000e+00
268,1764768540000000000,27754.20,27754.20,27754.20,27754.20,0,0.000000e+00
269,1764768600000000000,27793.04,27793.04,27793.04,27793.04,572874,6.540684e+10